{% assign creator_primary_color = '' %}
{% assign creator_x_account = '' %}
{% assign creator_youtube_account = '' %}
{% assign creator_twitch_account = '' %}
{% assign creator_logo = '' %}
{% assign creator_alternate_text_color = '' %}

<!-- Check if this is a collection page and if there's a match in settings.creator_landing_pages_collections -->
{% if collection %}
  {% for creator_collection in settings.creator_landing_pages_collections %}
    {% if creator_collection.title == collection.title
      and settings.enable_creator_landing_pages
      and collection.metafields.custom.creator_landing_page_primary_color
    %}
      {% assign collection_page_match = true %}

      <!-- Set each metafield value for the matched collection -->
      {% assign creator_primary_color = collection.metafields.custom.creator_landing_page_primary_color %}
      {% assign creator_x_account = collection.metafields.custom.creator_landing_page_x_account %}
      {% assign creator_youtube_account = collection.metafields.custom.creator_landing_page_youtube_account %}
      {% assign creator_twitch_account = collection.metafields.custom.creator_landing_page_twitch_account %}
      {% assign creator_logo = collection.metafields.custom.creator_landing_page_logo %}
      {% assign creator_alternate_text_color = collection.metafields.custom.creator_landing_page_alternate_text_color %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Check if this is a product page and if any of the product's collections match creator collections -->
{% if product and product.collections %}
  {% for product_collection in product.collections %}
    {% for creator_collection in settings.creator_landing_pages_collections %}
      {% if product_collection.title == creator_collection.title
        and product_collection.metafields.custom.creator_landing_page_primary_color
      %}
        {% assign product_page_match = true %}

        <!-- Set each metafield value for the matched collection -->
        {% assign creator_primary_color = product_collection.metafields.custom.creator_landing_page_primary_color %}
        {% assign creator_x_account = product_collection.metafields.custom.creator_landing_page_x_account %}
        {% assign creator_youtube_account = product_collection.metafields.custom.creator_landing_page_youtube_account %}
        {% assign creator_twitch_account = product_collection.metafields.custom.creator_landing_page_twitch_account %}
        {% assign creator_logo = product_collection.metafields.custom.creator_landing_page_logo %}
        {% assign creator_alternate_text_color = product_collection.metafields.custom.creator_landing_page_alternate_text_color %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if product_page_match %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

<!-- Set is_creator_landing_page if either collection_page_match or product_page_match is true -->
{% if collection_page_match or product_page_match %}
  {% assign is_creator_landing_page = true %}
{% endif %}

<nav class="header__inline-menu creator">
  <ul class="list-menu list-menu--inline" role="list">
    {% if creator_x_account.value.url %}
      <li>
        <a
          target="_blank"
          href="{{ creator_x_account.value.url }}"
        >
          {{- 'icon-twitter.svg' | inline_asset_content -}}
        </a>
      </li>
    {% endif %}
    {% if creator_twitch_account.value.url %}
      <li>
        <a
          target="_blank"
          href="{{ creator_twitch_account.value.url }}"
        >
          {{- 'icon-twitch.svg' | inline_asset_content -}}
        </a>
      </li>
    {% endif %}
    {% if creator_youtube_account.value.url %}
      <li>
        <a
          target="_blank"
          href="{{ creator_youtube_account.value.url }}"
        >
          {{- 'icon-youtube.svg' | inline_asset_content -}}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
